/* 
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-big: 1400px;
  --breakpoint-2xl: 1536px;
 */

@layer base {
  h1 {
    @apply uppercase text-[64px] 2xs:text-center leading-[74px] 2xs:leading-[50px] 500:leading-[60px] md:leading-[74px] 2xs:text-[35px] 500:text-[50px] md:text-[64px];
  }
  h2 {
    @apply uppercase text-[48px] leading-[58px] 2xs:text-[25px] 2xs:leading-[35px] 500:leading-[45px] md:leading-[58px] 500:text-[35px] md:text-[48px];
  }
  h3{
    @apply uppercase text-[24px] leading-[34px] text-white font-sinkin-sans-bold;
  }
  h4{
    @apply uppercase text-[20px] text-white font-sinkin-sans-bold leading-[30px];
  }
  p {
    @apply font-inter text-dark-gray text-base leading-[19px];
  }
  span {
    @apply font-inter;
  }
  ul {
    @apply cursor-pointer;
  }
  .transition {
    @apply transition-all duration-700 ease-in-out;
  }
  .active_nav {
    @apply bg-black max-w-full top-0 py-[33px] transition;
  }
  .vertical-divider{
    @apply min-w-[3px] bg-gray items-center h-full 2xs:hidden lg:block;
  }
  nav > div:first-of-type {
    @apply text-white font-inter font-normal leading-[19px] tracking-[0.003em];
  }
  nav > div a {
    @apply hover:text-skin;
  }
  #mobileMenu li {
    @apply hover:text-gray-200 py-4 px-6;
  }
  nav img {
    @apply big:max-w-[296.54px] big:max-h-20 2xs:max-w-[180px] 2xs:max-h-20 500:max-w-[210px] 500:max-h-20;
  }
  nav button svg {
    @apply w-8 h-8 text-white cursor-pointer;
  }
  #Announcement-bar,
  #mobileMenu {
    @apply bg-black;
  }
  #Announcement-bar,
  #Announcement-bar span,
  .experience h2,
  .experience p,
  .hero-text {
    @apply text-white;
  }
  #img-container {
    @apply relative max-w-[756px] min-h-[654px] 2xs:min-h-0 2xs:max-w-fit lg:w-3/2 xl:max-w-[756px] xl:min-h-[654px];
  }
  .left-img-container {
    @apply 2xs:min-h-0! xl:min-h-[575px]! w-7/2!;
  }
  #img-container img {
    @apply w-full h-full object-cover;
  }
  #mobileMenu {
    @apply absolute top-[87px] -z-10 right-0 h-fit w-full text-skin border opacity-0 group-focus:right-0 group-focus:opacity-100 transition;
  }
  p span {
    @apply block;
  }
  #img-container-careers {
    @apply relative max-w-[756px] min-h-[550px] 2xs:min-h-0 2xs:max-w-fit lg:w-7/3 xl:max-w-[756px] xl:min-h-[550px];
  }
}
