/* 
--breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-big: 1400px;
  --breakpoint-2xl: 1536px;
 */

.container-md {
  @apply 2xs:px-[30px] md:px-[55px];
}
.btn {
  @apply py-[5.5px] px-[23.5px] border-2 border-skin text-skin font-inter font-bold uppercase cursor-pointer transition-all duration-700 ease-in-out;
}
.black-border-btn {
  @apply hover:bg-skin hover:border-skin hover:text-black;
}
.announcement-btn div {
  @apply 2xs:w-full 2xs:text-center sm:w-fit sm:justify-between content-center;
}
.bg-skin-btn {
  @apply bg-skin text-black! hover:bg-transparent! hover:text-skin! mt-[30px] w-fit!;
}

.gradiant {
  background: radial-gradient(
      114.6% 55.11% at 50% 58.09%,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%);
}
.img-gradiant-right {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 56.81%,
    #ffffff 100%
  );
}
.img-gradiant-left {
  background: linear-gradient(90deg, #eeeeee 0%, rgba(238, 238, 238, 0) 25%);
}
.bg-bled {
  background-blend-mode: luminosity, normal;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;
}
.marquee > * {
  flex-shrink: 0;
}
