@import "tailwindcss";
@import '../public/assets/css/base.css';
@import '../public/assets/css/components.css';
@import '../public/assets/css/layout.css';

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-500: 500px;
  --breakpoint-big: 1400px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-skin: #E3CCA4;
  --color-gray: #7E7E7E;
  --color-dark-gray: #282828;
  --color-light-gray: #EEEEEE;

  --heading-1: 64px;
  --heading-2: 48px;

  --font-inter: "Inter", sans-serif;
  --font-sinkin-sans-bold: "sinkin-sans-bold";
  --font-sinkin-sans-regular: "sinkin-sans-regular";
}

@font-face {
  font-family: "sinkin-sans-bold";
  src: url('../public/assets/Fonts/sinkin-sans.700-bold.otf');
}
@font-face {
  font-family: "sinkin-sans-regular";
  src: url('../public/assets/Fonts/sinkin-sans.400-regular.otf');
}